<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zgy.translate">


    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:replace="android:theme">

        <!-- 友盟 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106605767" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a4b61148f4a9d294200008e"/>

        <!-- 访问私有路径 -->
        <!-- "${applicationId}.fileProvider" -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.BluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.BluetoothDeviceManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VoiceTranslateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.BleBluetoothDeviceManagerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.BluetoothService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".activitys.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ForgetPawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.FindPawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.RevisePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MySettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PersonalizedActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>